package templates

templ RootLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title></title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
