package templates

import "github.com/moroz/sqlc-demo/db/queries"

templ ProductIndex(title string, products []queries.Product) {
	@RootLayout(title) {
		for _, product := range products {
			<article class="product">
				if product.Picture != nil && *product.Picture != "" {
					<img src={ *product.Picture } class="product-image"/>
				}
				<p>{ product.Title }</p>
			</article>
		}
	}
}
