.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($product-grid-card-width, 1fr));
  gap: 1.5rem;
}

.product {
  width: 100%;
  overflow: hidden;
  text-align: center;

  :is(&) {

    .title,
    .price {
      display: block;
    }

    .title {
      font-size: 1.125rem;
      margin: .25em;
    }
  }
}

.product-image {
  aspect-ratio: 1;
  display: flex;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.add-to-cart {
  border: 0;
  outline: 0;
  background: $tw-blue-500;
  color: white;
  width: 100%;
  height: 40px;
  font-size: inherit;
  font-weight: bold;
  border-radius: 3px;
}
